## ignore big raw data file 
# data/raw_data

## ignore all cache files
**/*_cache

## system level
**/.vscode
**/.DS_Store

## python
**/__pycache__
**/*.pyc
**/.ipynb_checkpoint
**/.ipynb_meta
**/.ipython
**/.jupyter

## R
**/.RData
**/.RDataTmp
**/.Ruserdata
**/.Rhistory
**/.Rapp.history
**/.Renviron
