## system level
**/.vscode
**/.DS_Store

## python
**/__pycache__
**/.ipynb_checkpoint
**/.ipynb_meta
**/.ipython
**/.jupyter

## R
**/.RData
**/.RDataTmp
**/.Ruserdata
**/.Rhistory
**/.Rapp.history
**/.Renviron
